@page "/CheckIn"
@using LibrarySystem.Services
@using LibrarySystem.Pages.Members_Pages
@inject IBooksService _booksService
@inject IMembersService _membersService
@inject ICheckoutService _checkoutService

<AuthorizeView Context="Checkout" Roles="Admin, Assistant">
    <Authorized>
        <div class="container text-center">
            <h3>Check-In Library Books</h3>

            <div class="card">

                <div class="card-header bg-primary">
                    <div class="container text-white text-center">
                        @if (LibraryMemberSelected)
                        {
                            <h3>Member: @libraryMember.FirstName @libraryMember.LastName</h3>
                        }
                        else
                        {
                            <h3>Add a Library Member to start check-in process.</h3>
                        }

                    </div>
                </div>
                <div class="card-body">
                    @if (LibraryMemberSelected)
                    {
                        <EditForm Model="@BookToReturn" OnValidSubmit="@AddBook">
                            <DataAnnotationsValidator />

                            <div class="form-group">
                                <label for="Author" class="control-label">ISBN: </label>
                                <InputText id="author" @bind-Value="BookToReturn.ISBN" class="form-control" />
                                <ValidationMessage For="@(() => BookToReturn.ISBN)" />
                            </div>

                            <input class="btn btn-primary" type="submit" value="Add" @onclick="@AddBook">
                            <input class="btn btn-primary" type="submit" value="Check-In Books" @onclick="@CheckInBooks">

                        </EditForm>
                    }
                    else
                    {
                        <input class="btn btn-primary" type="submit" value="Add Member" @onclick="@AddMember">
                    }

                </div>
            </div>


            @if (errorFlag == 1)
            {
                <h1 style="color:red">@errorMsg</h1>
            }

            @if (books.Count > 0)
            {

                <h3>Scanned Added to Checkout</h3>
                <br />
                <br />
                <div class="container">
                    @for (int i = 0; i < books.Count; i += 3)
                    {
                        <div class="row">
                            @for (int j = i; (j < i + 3) && (j < books.Count); j++)
                            {
                                <div class="col-md-4 col-md-2">
                                    <BookCard Book="books[j]"></BookCard>
                                </div>
                                <br />
                            }

                            <div class="col-sm-12 shelf hidden-md hidden-lg"></div>
                        </div>
                        <br />
                        <br />
                    }
                </div>
                <br />
                <br />
            }

        </div>

        <MemberSearchModal @ref="MemberSearchModal" LibraryMember="@libraryMember" CloseEventCallback="@SetMember"></MemberSearchModal>
        <SuccessCheckIn @ref="SuccessCheckIn" CloseEventCallback="@Reset"></SuccessCheckIn>
    </Authorized>
    <NotAuthorized>
        <h2>You are not authorized to view this page!</h2>
    </NotAuthorized>
</AuthorizeView>

@code {

    public MemberSearchModal MemberSearchModal = new MemberSearchModal();
    public SuccessCheckIn SuccessCheckIn = new SuccessCheckIn();

    private Book BookToReturn = new Book();

    private List<Book> books = new List<Book>();
    private LibraryMember libraryMember = new LibraryMember();

    public bool LibraryMemberSelected = false;

    string errorMsg = "";
    int errorFlag = 0;

    void AddMember()
    {
        MemberSearchModal.Show();
    }

    void SetMember(LibraryMember LibraryMember)
    {
        libraryMember = LibraryMember;

        LibraryMemberSelected = true;

        StateHasChanged();
    }

    void AddBook()
    {
        int result = _checkoutService.CopiesLeft(BookToReturn);

        if (result < 0)
        {
            errorFlag = 1;
            errorMsg = "You have entered an invalid ISBN value. Please Try Again.";
        }
        else
        {
            errorFlag = 0;
            books.Add(_booksService.FindByISBN(BookToReturn.ISBN));
        }

        BookToReturn = new Book();


        StateHasChanged();
    }


    private void CheckInBooks()
    {

        _checkoutService.CheckInBooks(books, libraryMember);

        SuccessCheckIn.Show();
    }

    void Reset()
    {
        books.Clear();
        BookToReturn = new Book();

        errorFlag = 0;
        libraryMember = new LibraryMember();
    }
}

