@page "/books/create"
@inject NavigationManager NavigationManager
@using LibrarySystem.Services
@inject IBooksService _bookService
@inject ITransactionService transactionService
@inject IMembersService memberService

<AuthorizeView Context="CreateBook" Roles="Admin">
    <Authorized>
        <div class="container">

            <h3>Add Books</h3>
            <div class="row">
                <div class="col-md-4">
                    <EditForm Model="@newBook" OnValidSubmit="@HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="form-group">
                            <label for="Author" class="control-label">Author: </label>
                            <InputText id="author" @bind-Value="newBook.Author" class="form-control" />
                            <ValidationMessage For="@(() => newBook.Author)" />
                        </div>
                        <div class="form-group">
                            <label for="Title" class="control-label">Title: </label>
                            <InputText id="title" @bind-Value="newBook.Title" class="form-control" />
                            <ValidationMessage For="@(() => newBook.Title)" />
                        </div>
                        <div class="form-group">
                            <label for="Description" class="control-label">Title: </label>
                            <InputTextArea id="description" @bind-Value="newBook.Description" class="form-control" />
                            <ValidationMessage For="@(() => newBook.Description)" />
                        </div>
                        <div class="form-group">
                            <label for="ISBN" class="control-label">ISBN: </label>
                            <InputText id="isbn" @bind-Value="newBook.ISBN" class="form-control" />
                            <ValidationMessage For="@(() => newBook.ISBN)" />
                        </div>
                        <div class="form-group">
                            <label for="Copies" class="control-label">Number of Copies: </label>
                            <InputNumber id="copies" min="1" @bind-Value="newBook.Copies" class="form-control" />
                            <ValidationMessage For="@(() => newBook.Copies)" />
                        </div>
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </EditForm>
                </div>
            </div>

            @*<input class="btn btn-primary" type="submit" value="Test Transaction" @onclick="Test">
            <input class="btn btn-primary" type="submit" value="test" @onclick="Test2">

            @if (LibraryMember.LastName != null)
            {
                <h1>@LibraryMember.Transactions.Inl.FirstOrDefault()</h1>
            }*@



        </div>
    </Authorized>
    <NotAuthorized>
        <h2>You are not authorized to view this page!</h2>
    </NotAuthorized>
</AuthorizeView>




@code {

    private Book newBook = new Book();

    private LibraryMember LibraryMember = new LibraryMember();

    protected override void OnInitialized()
    {
        newBook.Copies = 1;
    }

    private void HandleValidSubmit()
    {
        _bookService.Create(newBook);

        NavigationManager.NavigateTo("/");
    }

    //private void Test()
    //{
    //    BookTransaction transaction = new BookTransaction
    //    {
    //        BookId = 1,
    //        LibraryMemberId = 1,
    //        CheckoutDate = DateTime.Now
    //    };

    //    transactionService.Create(transaction);
    //}

    //private async void Test2()
    //{
    //    LibraryMember = await memberService.FindMember(1);

    //    newBook = LibraryMember.Transactions.Select(s => s.Book).FirstOrDefault();

    //    StateHasChanged();
}


